<div class="cl-mcont">
  <div class="row">
    <div class="col-md-6 col-centered">
      <div class="block-flat">
        <h3>Log in</h3>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-horizontal group-border-dashed" } ) do |f| %>
          <div class="col-md-12 col-centered">
            <div class="field form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, class: "width-100"  %>
            </div>
          </div>

          <div class="col-md-12 col-centered">
            <div class="field form-group">
              <div class="field form-group">
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "off", class: "width-100" %>
              </div>
            </div>
          </div>

          <div class="col-md-12 col-centered">
            <div class="field form-group">
              <div class="field form-group text-center">
                <%= f.submit "Log in", class: "btn btn-info btn-default" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
