<table cellspacing='0'>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Date and time</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% tickets.each do |ticket| %>
      <tr data-insight="<%= ticket.id %>" class="js--tr-clickeable">
        <td>
          <%= ticket.subject %>
        </td>
        <td>
          <%= ticket.created_at.strftime("%m.%d.%y at %l:%M %p") %>
        </td>
        <% if ticket.unclaimed? %>
          <td><%= link_to 'Claim', admin_ticket_claim_path(ticket), method: :post  %></td>
        <% else %>
          <td><%= link_to 'Respond', admin_ticket_path(ticket) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
