<!DOCTYPE html>
<html>
  <head>
    <title>TickrApi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container-fluid">

      <div id="head-nav" class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-collapse">
            <ul class="nav navbar-nav navbar-right user-nav">
              <li class="dropdown profile_menu">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" > </a>
                  <span>
                    <%= link_to 'Logout', destroy_admin_session_path, :method => :delete %>
                  </span>
              </li>
            </ul>

            <ul class="nav navbar-nav not-nav">
              <li class="profile_menu">
                <%= link_to 'Tickets', admin_tickets_path, class: "toggle-menu menu-right push-body" %>
              </li>
              <li class="profile_menu">
                <%= link_to "PDF Report", admin_tickets_path(format: :pdf), class: "toggle-menu menu-right push-body" %>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="cl-mcont">
        <%= yield %>
      </div>
    </div>
  </body>
</html>


