<!DOCTYPE html>
<html>
  <head>
    <title>TickrApi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
    <li>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
    </li>

    <%= yield %>
  </body>
</html>

